<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<form action="/answer" method="get">
  <input type="text" name="city" placeholder="city">
  <input type="text" name="query" placeholder="query">
  <input type="submit">
</form>
  